<p style="color: green"><%= notice %></p>

<% content_for :title, "Messages" %>

<h1>Messages</h1>

<%= turbo_stream_from "messages" %>

<%= turbo_frame_tag "messages" do %>
<hr style="border: 1px solid #ccc; margin: 16px 0;">
<% if @messages&.any? %>
  <%= render @messages %>
<% else %>
  <p>No messages yet.</p>
<% end %>
<% end %>